<div class="header_menu">
  <mat-toolbar color="primary">
    <h1>IwaEvent</h1>
      <button mat-icon-button aria-label="home icon" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
      </button>
    <!-- Before Login -->
    <button mat-button *ngIf="!authority" [routerLink]="['/login']">Login</button>
    <button mat-button *ngIf="!authority" class="signup-spec" [routerLink]="['/signup']">SignUp</button>

    <!-- Spectator -->
    <button mat-button *ngIf="authority === 'spec'">My Festivals</button>
    <button mat-button *ngIf="authority === 'spec'">Festivals</button>

    <!-- Band -->
    <button mat-button *ngIf="authority === 'band'" [routerLink]="['/bandConcert']">My concerts</button>

    <!-- Organiser -->
    <button mat-button *ngIf="authority === 'org'">My Festivals</button>

    <button class="logout" mat-icon-button aria-label="disconnect" (dblclick)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
</div>

<router-outlet></router-outlet>
